@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  padding: 50px 100px;
}

a {
  text-decoration: none;
}

@media (max-width: 64em) {
  body {
    padding: 50px 20px;
  }
}
